<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue todolist</title>
        <!--my css-->
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>

        <!--Vue.js-->
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    
        <div id="app">

            <div class="tasks-container">
                <ul>
                    <li class="task" v-for="(task, i) in todos" :key="i">
                        <span v-if="task.done" class="completed">{{ task.text }}</span>
                        <span v-else>{{ task.text }}</span>
                    </li>
                </ul>
            </div>

        </div>


    
        <!--my javascript-->
        <script src="js/script.js"></script>

    </body>
</html>